@model List<MVCApp.Models.DogViewModel>
@{
    ViewData["Title"] = "Dog List Page";
}

<ul>
    @foreach(var dog in Model)
    {
        <li>@dog.Name (@dog.Age)</li>
        <li>@dog.Breed</li>
    }
</ul>
