@model DogViewModel
@{       
}

<h1>Hello World!</h1>
<h3>This is the index page of the HelloWorld Controller</h3>
<h4>A dog named @Model.Name says hello!</h4>
<h4>@Model.Name is @Model.Age years old!</h4>

